.app-content {
  display: flex;
  min-height: calc(100vh - 80px);
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: var(--border-color);
}

@media (max-width: 900px) {
  .app-content {
    flex-direction: column;
  }
}
