.food-display {
  margin-top: 30px;
}

.food-display h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  row-gap: 50px;
}

@media (max-width: 750px) {
  .food-display-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }
}
