.header {
  height: 34vw;
  margin: 30px auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=1200')
      no-repeat center center/cover;
  position: relative;
  border-radius: 10px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1s;
}

.header-contents h2 {
  font-weight: 600;
  color: white;
  font-size: max(4vw, 22px);
  margin: 0;
}

.header-contents p {
  color: white;
  font-size: 1vw;
  line-height: 1.6;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.header-contents button:hover {
  background-color: #ff6b35;
  color: white;
}

@media (max-width: 750px) {
  .header {
    height: 50vw;
  }

  .header-contents {
    max-width: 70%;
  }

  .header-contents p {
    font-size: 2vw;
  }
}
