.login-popup {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
}

.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title h2 {
  margin: 0;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  color: #808080;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #ff6b35;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #ff6b35;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-popup-container button:hover {
  background-color: #e55a2b;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 4px;
}

.login-popup-condition p {
  margin: 0;
}

.login-popup-container > p {
  margin: 0;
}

.login-popup-container > p span {
  color: #ff6b35;
  font-weight: 500;
  cursor: pointer;
}

.login-popup-container > p span:hover {
  text-decoration: underline;
}
