.sidebar {
  width: 250px;
  min-height: calc(100vh - 84px);
  border-right: 1px solid #e2e2e2;
  background-color: #f9f9f9;
}

.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  padding: 12px 20px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #454545;
  background-color: white;
}

.sidebar-option:hover {
  background-color: #fff5f2;
  border-color: #ff6b35;
}

.sidebar-option.active {
  background-color: #fff5f2;
  border-color: #ff6b35;
  color: #ff6b35;
}

.sidebar-option .icon {
  font-size: 24px;
}

.sidebar-option p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    min-height: auto;
  }

  .sidebar-options {
    flex-direction: row;
    padding: 20px;
  }
}
