.place-order {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}

.place-order-left {
  width: 100%;
  max-width: 500px;
}

.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: #ff6b35;
}

.place-order-left .multi-fields {
  display: flex;
  gap: 10px;
}

.place-order-right {
  width: 100%;
  max-width: 500px;
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total h2 {
  margin: 0;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-total button {
  border: none;
  color: white;
  background-color: #ff6b35;
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

.cart-total button:hover {
  background-color: #e55a2b;
}

@media (max-width: 750px) {
  .place-order {
    flex-direction: column;
  }

  .place-order-left,
  .place-order-right {
    max-width: 100%;
  }
}
